<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_quan_ly_nhan_su_root" 
              name="Quản lý Nhân Sự" 
              web_icon="quan_ly_nhan_su,static/description/icon.png"
              sequence="10"/>

    <menuitem id="menu_nhan_vien" 
              name="Nhân viên" 
              parent="menu_quan_ly_nhan_su_root" 
              action="action_nhan_vien" 
              sequence="1"/>

    <menuitem id="menu_phong_ban" 
              name="Phòng ban" 
              parent="menu_quan_ly_nhan_su_root" 
              action="action_phong_ban" 
              sequence="2"/>

    
</odoo>